* {
  padding: 0;
  margin: 0;
}
header {
  padding: 150px;
  color: firebrick;
  background-color: #303846;
}
header > h1 {
  text-align: center;
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 20px;
}
header > p {
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: bold;
}
header > a {
  text-align: center;
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 20px;
}
a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
.container {
  align-content: center;
}
a#index {
  color: firebrick;
  font-weight: bold;
  font-size: 20px;
}
