body {
	padding: 0;
	margin: 0;
}
header {
	background-color: #303846;
	padding: 100px;
}
header h3 {
	text-align: center;
	font-weight: bold;
}
.footer {
	padding: 25px;
	background-color: #303846;
}
.footer h3 {
	 text-align: center;
	 font-family: sans-serif;
	 color: white;
}