#chat-bot {
  padding: 50px;
  margin: 50px;
  background-color: #214250;
  border-radius: 10px;
  width: 600px;
  margin: auto;
}

#chat-bot h1 {
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  border: white solid 1px;
  padding: 2rem;
  border-radius: 10px;
}

#chat-bot label {
  font-weight: 800;
  font-size: 20px;
}