* {
  margin: 0;
  padding: 0;
}
section#hero-img {
  background-image: url("/assets/hero-img.png");
  color: rgb(255, 255, 255);
  padding: 150px;
}
section#light {
  color: rgb(126, 131, 131);
  background-image: url("/assets/head.png");
  padding: 150px;
}
section#dark {
  color: rgb(14, 13, 12);
  background-image: url("/assets/dark.png");
  padding: 150px;
}
section#light-img {
  color: rgb(10, 10, 10);
  background-image: url("/assets/head.png");
  padding: 150px;
}
section#dark {
  color: rgb(10, 10, 10);
  background-image: url("/assets/dark.png");
  padding: 150px;
}
p {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}
.title {
  font-weight: bold;
  text-align: left;
  font-size: 20px;
}
.site-name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}
.footer {
  background-image: url("/assets/footer-img.png");
  background-size: cover;
  padding: 100px;
  font-size: 20px;
}
p#towtext {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}
p#onetext {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}
.button {
  text-align: center;
}
.row {
  position: relative;
}
.container {
  width: 40%;
  display: right;
}
p#p2 {
  font-size: 15px;
  text-align: right;
  color: rgb(255, 255, 255);
}
p#p3 {
  font-size: 15px;
  text-align: right;
  color: rgb(255, 255, 255);
}
.container-footer {
  color: white;
  display: block;
}
p {
  font-size: 15px;
}
a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}
p#footer {
  text-align: center;
  color: white;
  font-size: 15px;
}
.title {
  color: black;
}
.footerpage {
  background-color: white;
  padding: 10px;
  font-size: 20px;
}
a#access {
  font-weight: bold;
  color: rgb(0, 72, 139);
}
