body {
  margin: 0;
  padding: 0;
}
img {
 max-height: 40px;
 width: auto;
}
section#hero-img {
	/* background-color: lightcoral; */
  background-image: url("/images/software-engineer.jpg");
	background-size: cover;
	background-repeat: no-repeat;
  color: #000000;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 190px;
}
.button {
  text-align: center;
}
p {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}
.title {
  font-weight: bold;
  text-align: left;
  font-size: 20px;
}
.site-name {
  text-align: center;
  font-weight: bold;
  font-size: 65px;
}
#home {
  padding: 150px;
  font-size: 25px;
  background-color: #21b9a5;
}
#content {
  padding: 150px;
  font-size: 25px;
  background-color: #f8f8f8;
}
a {
  text-align: center;
  color: white;
  text-decoration: none;
}

a:hover {
  color: lightslategray;
}
#support {
  padding: 150px;
  font-size: 25px;
  background-color: #b921ac;
}
.feature {
  padding: 150px;
  font-size: 25px;
  background-color: #21b935;
}
.contact {
  padding: 150px;
  font-size: 25px;
  background-color: #b9a221;
}
p#timeupdater {
  color: rgb(0, 0, 0);
}
strong {
  color: rgb(1, 130, 250);
}

i {
  color: rgb(1, 130, 250);
}
section#sub-header {
  display: grid;
  padding: 30px 40px;
  background-color: #303846;
  align-items: center;
  justify-content: space-between;
}
h1 {
  text-align: center;
}

.footer {
  padding: 25px;
  background-color: rgb(14, 38, 65);
}

.footer ul {
  display: block;
}

.footer li {
  display: inline;
  margin: 10px;
  font-weight: bold;
}

.footer a {
  color: lightslategray;
}

.footer a:hover {
  color: white;
}

.footer-title {
  color: lightgray;
  display: inline-flex;
}


/* Scroll Themes */

/* width */
::-webkit-scrollbar {
	width: 15px;
	background-color: rgba(11, 66, 150, 0.726);
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgb(139, 139, 139);
	border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgb(255, 255, 255);
	border-radius: 10px;
  }

	.alerts {
		padding: 1px;
		background-color: firebrick;
	}
	.alerts h3 {
		padding: 1rem;
		color: white;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		text-align: center;
	}
	.alerts a {
		color: #000000;
		font-size: 25px;
		text-decoration: none;
	}
	.alerts a:hover {
		color: lightslategray;
	}