* {
  margin: 0;
  padding: 0;
}
section#hero-img {
  background-image: url("/assets/space.png");
  color: rgb(255, 255, 255);
  padding: 150px;
}
.button {
  text-align: center;
}
p {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}
.title {
  font-weight: bold;
  text-align: left;
  font-size: 20px;
}
.site-name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}
.footer {
  padding: 20px;
  background-color: #303846;
}
ul {
  display: block;
}
li {
  display: inline;
  font-weight: bold;
  color: black;
  margin: 10px;
}
i {
  color: white;
  size: 5px;
}
.footer-title {
  color: #737479;
  font-size: 20px;
}
#home {
  padding: 150px;
  font-size: 25px;
  background-color: #2159b9;
}
#content {
  padding: 150px;
  font-size: 25px;
  background-color: #f8f8f8;
}
a {
  color: white;
  text-decoration: none;
}
#support {
  padding: 150px;
  font-size: 25px;
  background-color: #b921ac;
}
.feature {
  padding: 150px;
  font-size: 25px;
  background-color: #21b935;
}
p#ourtime {
  color: firebrick;
}
