.container-link1 {
  color: azure;
}
a#container-link1 {
  color: lightblue;
  
}
h3#container-link1 {
    color: azure;
}





.items-link {
  color: azure;
}
a {
  color: lightblue;
}
h3 {
 color: azure; 
}