body {
	padding: 0;
	margin: 0;
}
header {
	padding: 100px;
	background-color: forestgreen;
}
header > h1 {
	color: black;
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header > p {
	color: firebrick;
	text-align: center;
	font-size: 25px;
}
section#info {
	padding: 100px;
	background-color: darkblue;
}
section#info > h4 {
	text-align: center;
	color: white;
	font-family: sans-serif;
}