body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar_top {
  padding: 25px;
  background-color: floralwhite;
}

.navbar_top ul {
  display: block;
}

.navbar_top ul li {
  display: inline;
  margin: 8px;
}

.navbar_top ul li a {
  font-size: 25px;
  color: black;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
}

.navbar_top a:hover {
  color: lightslategray;
}

.header_top {
  padding: 150px;
  background-color: lightgray;
}

.header_top h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 50px;
}

.header_top p {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}

.future {
  padding: 70px;
  text-align: center;
  font-family: sans-serif;
  background-color: steelblue;
  width: 700px;
  margin: auto;
  border-radius: 15px;
}

.future h1 {
  color: white;
}