body {
  padding: 0;
  margin: 0;
  background-image: url('/assets/wave-haikei.svg');
  background-size: cover;
  /* background-color: white; */
  /*background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);*/

}

nav {
  padding: 15px;
}

nav ul {
  display: block;
}

nav ul li {
  display: inline;
  margin: 10px;
  color: black;
}

nav ul li a {
  color: rgb(137, 134, 134);
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 700;
}

#home-container {
  padding: 100px;
  font-weight: 800;
}

#home-container h1 {
  color: white;
}

#home-container h3 {
  padding: 25px;
  color: rgba(178, 175, 175, 0.475);
  width: 600px;
  margin: auto;
}

.inner {
  padding: 1px;
  background-color: rgba(0, 0, 0, 0.556);
  width: 700px;
  margin: auto;
}